.header {
  text-align: center;
  padding: 0.8rem;
  background-color: #3f51b5;

  &__title {
    color: #ebedf7;
    margin: 0;
    font-size: 2rem;
  }

  .nav-bar-list {
    background-color: #6a77bb;
  
    li {
      display: inline;
  
      a {
        display: inline-block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
      }

      .ativado {
        background-color: red;
      }

    }
  }
}