<div class="container text-center p-5">

  <div class="spinner-border" role="status" *ngIf="estaCarregando">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="erroNoCarregamento">
    <h2>Deu erro :(</h2>
    <button (click)="carregarContatos()"> Tentar novamente </button>
  </div>

  <div *ngIf="!estaCarregando && !erroNoCarregamento">

    <table class="table table-hover">
      <tr>
        <th> Nome </th>
        <th> Ações </th>
      </tr>
    
      <tr *ngFor="let contato of contatos">
        <td> {{ contato.nome }} </td>
        <td> 
          <button class="btn btn-primary" (click)="irParaDetalhes(contato.id)"> Ver detalhes </button>
        </td>
      </tr>
    </table>

  </div>

</div>